body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Streetvertising";
  font-weight: 400;
  src: local("Streetvertising"),
    url(./fonts/Streetvertising\ Light\ public.woff) format("woff");
}

@font-face {
  font-family: "Streetvertising";
  font-weight: 700;
  src: local("Streetvertising"),
    url(./fonts/Streetvertising\ Bold\ public.woff) format("woff");
}

@font-face {
  font-family: "Streetvertising";
  font-weight: 500;
  src: local("Streetvertising"),
    url(./fonts/Streetvertising\ Medium\ public.woff) format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  src: local("Metropolis"), url(./fonts/Metropolis-Regular.woff) format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  src: local("Metropolis"), url(./fonts/Metropolis-Bold.woff) format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  src: local("Metropolis"), url(./fonts/Metropolis-Black.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 400;
  src: local("Metropolis"), url(./fonts/Metropolis-RegularItalic.woff) format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  src: local("Metropolis"), url(./fonts/Metropolis-BlackItalic.woff) format("woff");
} */

/* @font-face {
  font-family: "Metropolis";
  font-weight: 700;
  src: local("Metropolis"), url(./fonts/Metropolis-BoldItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 600;
  src: local("Metropolis"), url(./fonts/Metropolis-SemiBold.woff) format("woff");
}
/* 
@font-face {
  font-family: "Metropolis";
  font-weight: 600;
  src: local("Metropolis"), url(./fonts/Metropolis-SemiBoldItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 500;
  src: local("Metropolis"), url(./fonts/Metropolis-Medium.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 500;
  src: local("Metropolis"), url(./fonts/Metropolis-MediumItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 800;
  src: local("Metropolis"),
    url(./fonts/Metropolis-ExtraBold.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 800;
  src: local("Metropolis"), url(./fonts/Metropolis-ExtraBoldItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 200;
  src: local("Metropolis"),
    url(./fonts/Metropolis-ExtraLight.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 200;
  src: local("Metropolis"), url(./fonts/Metropolis-ExtraLightItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 100;
  src: local("Metropolis"), url(./fonts/Metropolis-Thin.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 100;
  src: local("Metropolis"), url(./fonts/Metropolis-ThinItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 300;
  src: local("Metropolis"), url(./fonts/Metropolis-Light.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 300;
  src: local("Metropolis"), url(./fonts/Metropolis-LightItalic.woff) format("woff");
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.App {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

.App.black {
  background-color: black;
  transition: all 0.4s ease-in-out;
  /* animation: black .5s forwards; */
}

.App.white {
  background-color: white;
  transition: all 0.4s ease-in-out;
  /* animation: white .5s forwards; */
}

.aactive {
  color: black !important;
}

.inactive {
  color: white !important;
}

.blackbord {
  border-color: black !important;
  color: black !important;
}

.whitebord {
  border-color: white !important;
  color: white !important;
}

.clearFix {
  clear: both;
}

.hide {
  opacity: 0 !important;
}

.on {
  opacity: 1 !important;
}

@keyframes black {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}

@keyframes white {
  0% {
    background-color: #000;
  }
  100% {
    background-color: white;
  }
}

.App .first {
  /* background-color: black; */
  /* height: 125vh; */
  width: 100%;
  position: relative;
  /* overflow-y: scroll; */
}

.contain {
  width: 92%;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 1000;
  top: 0;
}

.header .head {
  width: 92%;
  margin: 0 auto;
}

.head p {
  font-family: "Streetvertising";
  font-weight: bold;
  font-size: 30px;
  color: #f24940;
  margin: 10px 0;
}

.head p span {
  color: white;
}

span.normal {
  color: white !important;
}

.middle {
  width: 100%;
  position: relative;
  padding-top: 50px;
  display: flex;
  height: 730px;
}

.whiteBtn {
  border: 2px solid white;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background: linear-gradient(to right, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.7s ease-out;
  cursor: pointer;
}

.whiteBtn:hover {
  background-position: left bottom;
}

.whiteBtn .text {
  font-family: "Metropolis";
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: white;
  transition: all 0.8s ease-out;
  display: block;
  display: flex;
  align-items: center;
  height: 38px;
  z-index: 10;
  margin: auto;
}

.whiteBtn:hover .text {
  color: black;
}

.blackBtn {
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.7s ease-out;
  cursor: pointer;
}

.blackBtn:hover {
  background-position: left bottom;
}

.blackBtn .text {
  font-family: "Metropolis";
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: black;
  transition: all 0.8s ease-out;
  display: block;
  z-index: 10;
  height: 35px;
  display: flex;
  align-items: center;
  margin: auto;
}

.blackBtn .text img,
.whiteBtn .text img {
  width: 38px;
  height: 38px;
  /* padding-top: 2px; */
}

.blackBtn:hover .text {
  color: white;
}


.middle .right h1 {
  color: white;
}

.middle .right .parta {
  width: 50%;
  opacity: 1;
  /* margin-left: -1%; */
}

.middle .right .parta .set {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-left: 4.5%;
  margin-top: 50px;
}

.middle .right .parta .set .bottomScroll {
  position: absolute;
  bottom: -200px;
  padding-left: 2px;
}

.middle .right .parta .set .bottomScroll p {
  font-family: "Metropolis";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.middle .right .parta .set .bottomScroll p span {
  width: 30px;
  height: 15px;
  margin-right: 10px;
}

.middle .right .parta .set .bottomScroll p span img {
  width: 30px;
  height: 15px;
}

.middle .right .parta .set p {
  margin: 20px 0;
  max-width: 500px;
  font-family: "Metropolis";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  color: white;
  margin-top: 50px;
}

.middle .right .parta .set p span.blocked {
  display: block;
}
.middle .right .parta .set p span.greyish {
  color: #7d7c81;
  /* animation: reverse 5s forwards; */
}

.middle .right .parta .set p span.greyish .active {
  /* animation: grey 5s forwards; */
  color: #df5851;
}

.middle .right .partb {
  width: 45%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}

.middle .right .partb img.firstGif {
  position: absolute;
  display: none;
  width: 650px;
  /* margin-bottom: 40px; */
  margin-top: -140px;
  margin-left: -90px;
  /* top: 0px; */
}

.middle .right .partb img.secondGif {
  position: absolute;
  /* display: none; */
  width: 1100px;
  margin-bottom: 40px;
  margin-top: -100px;
  margin-left: -350px;
}

.middle .right .partb img.lastGif {
  position: absolute;
  display: none;
  width: 1100px;
  margin-bottom: 40px;
  margin-top: -120px;
  margin-left: -350px;
}

.middle .right .partb img:nth-child(4) {
  margin-bottom: 0;
}

.middle .right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.middle .right .partb .bottom {
  width: 100%;
  height: 40px;
}

@keyframes grey {
  from {
    color: #7d7c81;
  }
  to {
    color: #df5851;
  }
}

@keyframes reverse {
  from {
    color: #7d7c81;
  }
  to {
    color: #df5851;
  }
}

/* @media (min-height: 1100px) {
  .App .first {
    background-color: white;
  }
} */

.secondComp {
  width: 100%;
  background-color: black;
  padding: 100px 0;
}

.secondComp .contain {
  width: 92%;
  margin: auto;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  justify-content: center;
  padding-bottom: 20px;
}

.secondComp .contain .paraImg {
  display: flex;
  align-items: flex-start;
}

.secondComp .contain .paraImg p {
  margin-top: 30px;
  margin-left: 20px;
  font-family: "Metropolis";
  font-size: 45px;
  width: 912px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: white;
}

.secondComp .contain .divImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.indexArray {
  margin-top: 50px;
}

.secondLast {
  width: 100%;
  /* background-color: white; */
  padding-bottom: 40px;
}

.secondLast .contain {
  padding: 180px 0;
  text-align: center;
  width: 65%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.secondLast .contain h1 {
  margin-bottom: 50px;
  font-family: "Metropolis";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: black;
}

.secondLast .contain .blackBtn {
  margin-top: 20px;
}

.footer {
  width: 100%;
  background-color: black;
}

.footer .contain {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .contain .left {
  width: 65%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.footer .contain .left p {
  width: 70%;
  font-family: "Metropolis";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.footer .contain .right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.footer .contain .right .circle {
  width: 50px !important;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 15px;
}

.footer .contain .right .circle img {
  width: 30px;
  height: 30px;
}

.footer .contain .right .circle.last {
  margin-right: 0;
}

.footer .contain .right .circle:hover {
  width: 55px !important;
  height: 55px;
  /* margin-right: 20px; */
}

.footer .contain .right .circle:hover img {
  width: 32.5px;
  height: 32.5px;
}

.spotify {
  width: 100%;
  z-index: 10;
  /* background-color: black; */
  padding: 100px 0;
}

.spotify .contain {
  padding: 60px 0 90px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.spotify .contain h1 {
  font-family: "Metropolis";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: white;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.spotForm {
  width: 80%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding-top: 60px;
}

.spotForm .left {
  width: 50%;
  /* background-color: white; */
  border-radius: 5px;
  /* padding: 20px; */
}

.spotForm .left img {
  width: 100%;
  border-radius: 5px;
}

.spotForm .right {
  width: 46%;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.spotForm .right h1 {
  margin-left: 0 !important;
  width: fit-content !important;
  margin-bottom: 20px !important;
}

.spotForm .right a {
  font-family: "Metropolis";
  margin-bottom: 10px;
  font-size: 24px;
  text-decoration: none;
}

.spotForm .right .box {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.spotForm .right .box p {
  width: 120px;
  height: 33px;
  border: 2px solid white;
  border-radius: 20px;
  font-family: "Metropolis";
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  /* padding-left: 15px; */
  position: relative;
}

.spotForm .right .box p span {
  position: absolute;
  right: 10px;
}

.plaid {
  width: 100%;
  /* background-color: white; */
}

.plaid .contain {
  padding: 120px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.plaid .contain h1 {
  font-family: "Metropolis";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: black;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.plaid .contain .spotForm .left {
  border: 1px solid black;
  border-color: transparent;
  /* box-shadow: 0 0 4px rgb(204, 204, 204); */
}

.plaid .contain .spotForm .right .box p {
  border: 2px solid black;
  color: black;
}

.plaid .contain .spotForm {
  padding-top: 0;
}

.here {
  width: 100%;
  display: block;
  position: relative;
}

.here .inner {
  width: 92%;
  margin: 0 auto;
}

.here .contain {
  /* display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  position: relative; */
  width: 90%;
  margin: 0 auto;
  z-index: -1;
}

.here .contain .left {
  /* display: block; */
  width: 31%;
  float: left;
  /* padding-bottom: 20px; */
}

.here .contain .Bord {
  border: 2px solid #707070;
  opacity: 20%;
  border-radius: 5px;
  /* border-top-color: transparent; */
  height: 200px;
  width: 90%;
  transition: all 0s ease-in-out;
  margin-bottom: 30px;
}

/* .here .contain .left .Bord {
  margin-top: -20px;
  margin-bottom: 40px;
} */

.clearFix {
  clear: both;
}
.cerckleAnimMain {
  background-color: #fff;
}
.cerckleAnim {
  width: 90%;
  margin: 0 auto;
  z-index: -1;
}
.leftBoxes {
  width: 31%;
  float: left;
}
.rightBoxes {
  width: 31%;
  float: right;
  transition: all 0s ease-in-out;
}
.borderBoxes {
  border: 2px solid #707070;
  opacity: 20%;
  border-radius: 5px;
  /* border-top-color: transparent; */
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.blackCerckleMain {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  /* top: 50%; */
  left: 50%;
}

#blackCerckle {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #000;
  position: sticky;
  margin-top: 50%;
  z-index: 0;
}
.asp {
  position: relative;
  /* height: 100vh; */
  overflow: hidden;
}
.midLine {
  top: 25%;
  width: 90%;
  position: absolute;
  font-family: "Metropolis";
  font-size: 600;
  font-size: 45px;
  color: #111111;
  text-align: center;
}
.midLine h2 {
  text-align: center !important;
}

.here .contain .right {
  width: 31%;
  /* padding-top: 0px; */
  float: right;
  transition: all 0s ease-in-out;
}

/* .here .contain .right .Bord {
  margin-bottom: -10px;
  margin-top: 30px;
} */

.here .contain .mid {
  position: absolute;
  left: 48%;
  top: 45%;
  transform: translateX(-48%);
  font-family: "Metropolis";
  font-size: 600;
  font-size: 45px;
  color: #111111;
  width: 100%;
  text-align: center;
  margin-top: -20px;
}

.here .contain .down {
  width: 100%;
  position: absolute;
  bottom: 12%;
  padding-left: 2px;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down p {
  font-family: "Metropolis";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  color: black;
  /* margin-top: 50px; */
  display: flex;
  align-items: center;
}

.down p span {
  width: 30px;
  height: 15px;
  margin-right: 10px;
}

.down p span img {
  width: 30px;
  height: 15px;
}

.digit {
  display: block;
  /* position: absolute;
  top: 0;*/
  opacity: 1;
  z-index: 90;
  padding-bottom: 80px;
  margin-top: -450px;
  /* background-color: black; */
}

/* .digit.active {
  animation: active 1s forwards;
} */

.digit .contain {
  padding-top: 40px;
  display: block;
  height: max-content;
  width: 92%;
  margin: 0 auto;
  z-index: 90;
  opacity: 0;
  /* padding-top: 700px; */
}

.digit .contain.active {
  /* animation: inactive 1.5s forwards; */
  animation: 0.5s linear 0.3s inactive forwards;
  transition: all 0.8s ease-in-out;
  z-index: 90;
}

.digit .contain .shade {
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  background-color: white;
  z-index: 90;
  margin-top: 30px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
}

/* .digit .contain .shade.active {
  animation: inactive 0.5s forwards;
} */

.digit .contain .shade .left {
  width: 60%;
  position: relative;
  z-index: 90;
}

.digit .contain .shade .left h1 {
  font-family: "Metropolis";
  margin: 20px 0;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  z-index: 90;
}

.digit .contain .shade .left p {
  font-family: "Metropolis";
  margin: 20px 0;
  width: 90%;
  margin-top: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  z-index: 90;
}

.digit .contain .shade .down {
  position: absolute;
  bottom: 50px;
  left: 51px;
  justify-content: flex-start;
  z-index: 90;
}

.digit .contain .shade.first {
  margin-top: 0;
}

.digit .contain .shade.first .right {
  position: relative;
}

.digit .contain .shade.first .right .absolute {
  position: absolute;
  top: -20px;
  left: -70px;
  width: 45%;
  height: 160px;
  z-index: 90;
  object-fit: cover;
}

.digit .contain .shade.second .right {
  position: relative;
}

.digit .contain .shade.second {
  padding-top: 60px;
  padding-bottom: 80px;
}

.digit .contain .shade.second .right .absolute1 {
  position: relative;
  top: -20px;
  left: -60px;
  z-index: 90;
}

.digit .contain .shade.second .right .absolute {
  position: absolute;
  bottom: -40px;
  right: -20px;
  width: 45%;
  height: 160px;
  object-fit: cover;
  z-index: 90;
}

.digit .contain .right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digit .contain .right img {
  width: 100%;
  border-radius: 5px;
  /* height: 250px; */
}


.loader {
  overflow: hidden;
  position: relative;
}

.loaderBack {
  height: 3px;
  position: absolute;
  background-color: #7d7c81;
  height: 3px;
  border-radius: 20px;
  bottom: -10px;
  z-index: 1;
}

.loaderBack.active {
  background-color: #fff;
}

.loaderElement {
  height: 3px;
  position: absolute;
  /* background-color: #a5d6a7; */
  height: 3px;
  border-radius: 20px;
  bottom: -10px;
  z-index: 2;
  /* max-width: 353px; */
}

#one.loaderElement,
#a.loaderBack,
.loader:first-child {
  width: 171px;
}

#two.loaderElement,
#two.loader,
#b.loaderBack {
  width: 244px;
}

#three.loaderElement,
#three.loader,
#c.loaderBack {
  width: 353px;
}

.loaderElement.active {
  width: 0;
}

.loaderElement.active {
  animation: getWidth 5s ease-in forwards;
  animation-timing-function: linear;
}
#two.loaderElement.active, #three.loaderElement.active{
  animation: getWidth2 5s ease-in forwards;
  animation-timing-function: linear;
}
/* #three.loaderElement.active{
  animation: getWidth2 5s ease-in forwards;
  animation-timing-function: linear;
} */

@keyframes getWidth {
  0% {
    width: 0;
    background-color: #df5851;
  }
  100% {
    width: 94%;
    background-color: #df5851;
  }
}

@keyframes getWidth2 {
  0% {
    width: 0;
    background-color: #df5851;
  }
  100% {
    width: 100%;
    background-color: #df5851;
  }
}

@keyframes active {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}
@keyframes inactive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* for ipadpro */
@media (max-width: 1100px) {
  .first .contain .middle {
    height: 100vh;
  }
  .first .contain .middle .left {
    display: none;
  }
  .first .contain .middle .right {
    flex-flow: column;
    justify-content: center;
  }
  .first .contain .middle .right .parta {
    opacity: 1 !important;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first .contain .middle .right .parta .set {
    position: relative;
    width: fit-content;
    bottom: auto;
    left: auto;
    align-items: center;
  }
  .first .contain .middle .right .parta .set p {
    text-align: center;
  }
  .first .contain .middle .right .parta .set .bottomScroll {
    display: none;
  }
  .first .contain .middle .right .partb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first .contain .middle .right .partb img.secondGif,
  img.firstGif,
  img.lastGif {
    position: relative !important;
    width: 100%;
    margin: 0 !important;
  }
  .first .contain .middle .right .partb img.secondGif {
    margin-top: 30px !important;
    width: 650px;
  }
  /* .first .contain .middle .right .partb img.lastGif{
    width: 100%;
  } */
  .spotForm {
    width: 90%;
  }
  .spotForm .right .box {
    width: 80%;
  }
}

/* for ipad */
@media (max-width: 900px) {
  .secondLast .contain {
    width: 75%;
    padding: 150px 0;
  }
  .secondLast .contain h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .secondComp .contain .paraImg {
    width: 100%;
  }
  .secondComp .contain .paraImg p {
    font-size: 30px;
    width: 90%;
  }
  .secondComp .contain .divImg img {
    width: 90%;
  }
  .digit .contain .shade {
    flex-flow: column;
    padding: 35px;
    width: 88%;
  }
  .digit .contain .shade .down {
    display: none;
  }
  .digit .contain .shade .left,
  .digit .contain .shade .right {
    width: 100%;
  }
  .digit .contain .shade .left p {
    width: 100%;
  }
  .digit .contain .shade.first .right img {
    width: 85%;
    position: relative;
    left: 60px;
    top: 40px;
    padding-bottom: 40px;
  }
  .digit .contain .shade.first .right .absolute {
    /* width: 80%; */
    left: 0px;
    height: 220px;
    width: 30%;
  }
  .digit .contain .shade.second {
    padding-top: 40px;
  }
  .digit .contain .shade.second .right .absolute1 {
    width: 80%;
  }
  .digit .contain .shade.second .right .absolute {
    right: 0;
    width: 38%;
  }
  .spotify .contain h1 {
    width: 70%;
    font-size: 30px;
  }
  .spotify .contain .spotForm,
  .plaid .contain .spotForm {
    width: 100%;
    flex-flow: column;
  }
  .spotify .contain .spotForm .right,
  .plaid .contain .spotForm .right {
    width: 100%;
    order: 1;
  }
  .spotify .contain .spotForm .right h1,
  .plaid .contain .spotForm .right h1 {
    font-size: 45px;
  }
  .spotify .contain .spotForm .right a,
  .plaid .contain .spotForm .right a {
    font-size: 32px;
  }
  .spotify .contain .spotForm .right .box,
  .plaid .contain .spotForm .right .box {
    width: 320px;
  }
  .spotify .contain .spotForm .left,
  .plaid .contain .spotForm .left {
    width: 100%;
    order: 2;
    /* margin: 0 auto; */
    margin-top: 50px;
  }
  /* .spotify .contain .spotForm .right .box, .plaid .contain .spotForm .right .box{
    width: 90%;
    margin: 0;
    flex-flow: column;
  }
  .spotify .contain .spotForm .right .box p, .plaid .contain .spotForm .right .box p{
    margin: 30px 0;
    margin-bottom: 0;
  } */
}

/* for mobile devices */
@media (max-width: 600px) {
  .secondLast .contain {
    width: 92%;
  }
  .secondLast .contain h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer .contain {
    flex-flow: column;
  }
  .footer .contain .left {
    width: 100%;
    margin-bottom: 35px;
  }
  .footer .contain .left p {
    text-align: center;
  }
  .footer .contain .right {
    width: 50%;
    justify-content: space-between;
  }
  .digit .contain {
    padding-top: 30px;
  }
  .middle{
    height: auto !important;
  }
  .spotify .contain .spotForm,
  .plaid .contain .spotForm {
    align-items: center;
  }
  .spotify .contain .spotForm .left,
  .plaid .contain .spotForm .left {
    width: 90%;
    flex-flow: column;
  }
  .spotify .contain h1 {
    width: 80%;
    font-size: 20px;
    margin-bottom: 0;
  }
  #one.loaderElement,
  #a.loaderBack,
  .loader:first-child {
    width: 122px;
  }
  
  #two.loaderElement,
  #two.loader,
  #b.loaderBack {
    width: 162px;
  }
  
  #three.loaderElement,
  #three.loader,
  #c.loaderBack {
    width: 235px;
  }
  .secondComp .contain .paraImg img {
    display: none;
  }
  .secondComp .contain .paraImg p {
    font-size: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .digit .contain .shade {
    flex-flow: column;
    padding: 25px;
    width: 88%;
  }
  .digit .contain .shade.first .right img {
    width: 80%;
    position: relative;
    left: 40px;
    top: 40px;
    padding-bottom: 40px;
  }
  .digit .contain .shade.first .right .absolute {
    /* width: 80%; */
    left: 0px;
    height: 170px;
    width: 40%;
  }
  .digit .contain .shade.second {
    padding-top: 40px;
  }
  .digit .contain .shade.second .right .absolute1 {
    width: 82%;
    left: -40px;
  }
  .digit .contain .shade.second .right .absolute {
    right: 0;
    width: 38%;
    height: 140px;
    bottom: -50px;
  }
  .first .contain .middle .right .partb img.secondGif,
  img.firstGif,
  img.lastGif {
    width: 100% !important;
  }
  .here .contain .mid {
    font-size: 24px;
  }
  .asp .midLine {
    font-size: 24px;
  }
  .asp #blackCerckle {
    margin-top: 150%;
  }
  .spotify .contain .spotForm .right .box,
  .plaid .contain .spotForm .right .box {
    width: 90%;
    /* margin: 0;
    flex-flow: column; */
  }
  .first .contain .middle .right .parta .set {
    width: 100%;
  }
  .first .contain .middle .right .parta .set p {
    font-size: 30px;
    width: 100%;
  }
  .spotify .contain .spotForm .right h1,
  .plaid .contain .spotForm .right h1 {
    font-size: 35px;
  }
  .spotify .contain .spotForm .right a,
  .plaid .contain .spotForm .right a {
    font-size: 24px;
  }
}

/* for mobile devices */
@media (max-width: 400px) {
  .secondLast .contain {
    width: 92%;
  }
  .secondLast .contain h1 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .spotify .contain h1 {
    width: 100%;
    font-size: 18px;
  }
  .secondComp .contain .paraImg p {
    font-size: 18px;
  }
  .digit .contain .shade {
    padding: 15px;
    width: 90%;
  }
  .digit .contain .shade.first .right img {
    left: 30px;
  }
  .digit .contain .shade.first .right .absolute {
    /* width: 80%; */
    left: 0px;
    height: 120px;
    width: 40%;
  }
  .digit .contain .shade.second {
    padding-top: 40px;
  }
  .digit .contain .shade.second .right .absolute1 {
    left: -25px;
  }
  .digit .contain .shade.second .right .absolute {
    width: 45%;
    height: 120px;
  }
  .spotify .contain .spotForm .right .box,
  .plaid .contain .spotForm .right .box {
    width: 100%;
  }
  .first .contain .middle .right .parta .set {
    width: 100%;
  }
  .first .contain .middle .right .parta .set p {
    font-size: 30px;
    width: 100%;
  }
  .spotify .contain .spotForm .right .box,
  .plaid .contain .spotForm .right .box {
    width: 100%;
  }
}

/* for more then 1510px screen */
@media (min-width: 1510px) {
  .contain {
    width: 1209px !important;
  }
  .first .contain .middle .right .parta .set {
    left: 0;
  }
}

