body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Streetvertising";
  font-weight: 400;
  src: local("Streetvertising"),
    url(./fonts/Streetvertising\ Light\ public.woff) format("woff");
}

@font-face {
  font-family: "Streetvertising";
  font-weight: 700;
  src: local("Streetvertising"),
    url(./fonts/Streetvertising\ Bold\ public.woff) format("woff");
}

@font-face {
  font-family: "Streetvertising";
  font-weight: 500;
  src: local("Streetvertising"),
    url(./fonts/Streetvertising\ Medium\ public.woff) format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  src: local("Metropolis"), url(./fonts/Metropolis-Regular.woff) format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  src: local("Metropolis"), url(./fonts/Metropolis-Bold.woff) format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  src: local("Metropolis"), url(./fonts/Metropolis-Black.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 400;
  src: local("Metropolis"), url(./fonts/Metropolis-RegularItalic.woff) format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  src: local("Metropolis"), url(./fonts/Metropolis-BlackItalic.woff) format("woff");
} */

/* @font-face {
  font-family: "Metropolis";
  font-weight: 700;
  src: local("Metropolis"), url(./fonts/Metropolis-BoldItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 600;
  src: local("Metropolis"), url(./fonts/Metropolis-SemiBold.woff) format("woff");
}
/* 
@font-face {
  font-family: "Metropolis";
  font-weight: 600;
  src: local("Metropolis"), url(./fonts/Metropolis-SemiBoldItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 500;
  src: local("Metropolis"), url(./fonts/Metropolis-Medium.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 500;
  src: local("Metropolis"), url(./fonts/Metropolis-MediumItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 800;
  src: local("Metropolis"),
    url(./fonts/Metropolis-ExtraBold.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 800;
  src: local("Metropolis"), url(./fonts/Metropolis-ExtraBoldItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 200;
  src: local("Metropolis"),
    url(./fonts/Metropolis-ExtraLight.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 200;
  src: local("Metropolis"), url(./fonts/Metropolis-ExtraLightItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 100;
  src: local("Metropolis"), url(./fonts/Metropolis-Thin.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 100;
  src: local("Metropolis"), url(./fonts/Metropolis-ThinItalic.woff) format("woff");
} */

@font-face {
  font-family: "Metropolis";
  font-weight: 300;
  src: local("Metropolis"), url(./fonts/Metropolis-Light.woff) format("woff");
}

/* @font-face {
  font-family: "Metropolis";
  font-weight: 300;
  src: local("Metropolis"), url(./fonts/Metropolis-LightItalic.woff) format("woff");
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.App {
  width: 100%;
  overflow-x: hidden;
}

.App .first {
  background-color: black;
  /* height: 125vh; */
  width: 100%;
  position: relative;
  /* overflow-y: scroll; */
}

.contain {
  width: 92%;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 1000;
  top: 0;
}

.header .head {
  width: 92%;
  margin: 0 auto;
}

.head p {
  font-family: "Streetvertising";
  font-weight: bold;
  font-size: 30px;
  color: #f24940;
  margin: 10px 0;
}

.head p span {
  color: white;
}

.middle {
  width: 100%;
  position: relative;
  padding-top: 50px;
  display: flex;
  height: 730px;
}

.middle .left {
  position: fixed;
  width: 46%;
  height: 400px;
  top: 100px;
  left: 8%;
  z-index: 80;
}

.whiteBtn {
  border: 2px solid white;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background: linear-gradient(to right, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.7s ease-out;
  cursor: pointer;
}

.whiteBtn:hover {
  background-position: left bottom;
}

.whiteBtn .text {
  font-family: "Metropolis";
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: white;
  transition: all 0.8s ease-out;
  display: block;
  display: flex;
  align-items: center;
  height: 38px;
  z-index: 10;
  margin: auto;
}

.whiteBtn:hover .text {
  color: black;
}

.blackBtn {
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.7s ease-out;
  cursor: pointer;
}

.blackBtn:hover {
  background-position: left bottom;
}

.blackBtn .text {
  font-family: "Metropolis";
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: black;
  transition: all 0.8s ease-out;
  display: block;
  z-index: 10;
  height: 35px;
  display: flex;
  align-items: center;
  margin: auto;
}

.blackBtn .text img,
.whiteBtn .text img {
  width: 38px;
  height: 38px;
  /* padding-top: 2px; */
}

.blackBtn:hover .text {
  color: white;
}

.middle .left .set {
  width: 100%;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  justify-content: space-between;
}

.middle .left .set .bottomScroll {
  position: absolute;
  bottom: -140px;
  padding-left: 2px;
}

.middle .left .set .bottomScroll p {
  font-family: "Metropolis";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.middle .left .set .bottomScroll p span {
  width: 30px;
  height: 15px;
  margin-right: 10px;
}

.middle .left .set .bottomScroll p span img {
  width: 30px;
  height: 15px;
}

.middle .left .set p {
  margin: 20px 0;
  max-width: 500px;
  font-family: "Metropolis";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: white;
  margin-top: 50px;
}

.middle .left .set p span.blocked {
  display: block;
}
.middle .left .set p span.greyish {
  color: #7d7c81;
  /* animation: reverse 5s forwards; */
}

.middle .left .set p span.greyish .active {
  /* animation: grey 5s forwards; */
  color: #df5851;
}

.middle .right h1 {
  color: white;
}

.middle .right .parta {
  width: 50%;
  opacity: 0;
  margin-left: -1%;
}

.middle .right .parta .set {
  width: 100%;
  display: flex;
  flex-flow: column;
  position: absolute;
  bottom: 250px;
  /* align-items: center; */
  justify-content: space-between;
  left: 4.45%;
}

.middle .right .parta .set .bottomScroll {
  position: absolute;
  bottom: -200px;
  padding-left: 2px;
}

.middle .right .parta .set .bottomScroll p {
  font-family: "Metropolis";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.middle .right .parta .set .bottomScroll p span {
  width: 30px;
  height: 15px;
  margin-right: 10px;
}

.middle .right .parta .set .bottomScroll p span img {
  width: 30px;
  height: 15px;
}

.middle .right .parta .set p {
  margin: 20px 0;
  max-width: 500px;
  font-family: "Metropolis";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: white;
  margin-top: 50px;
}

.middle .right .parta .set p span.blocked {
  display: block;
}
.middle .right .parta .set p span.greyish {
  color: #7d7c81;
  /* animation: reverse 5s forwards; */
}

.middle .right .parta .set p span.greyish .active {
  /* animation: grey 5s forwards; */
  color: #df5851;
}

.middle .right .partb {
  width: 45%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}

.middle .right .partb img.firstGif {
  position: fixed;
  display: none;
  width: 650px;
  /* margin-bottom: 40px; */
  margin-top: -90px;
  margin-left: -90px;
  /* top: 0px; */
}

.middle .right .partb img.secondGif {
  position: fixed;
  /* display: none; */
  width: 1100px;
  margin-bottom: 40px;
  margin-top: -70px;
  margin-left: -350px;
}

.middle .right .partb img.lastGif {
  position: absolute;
  display: none;
  width: 1100px;
  margin-bottom: 40px;
  margin-top: -90px;
  margin-left: -350px;
}

.middle .right .partb img:nth-child(4) {
  margin-bottom: 0;
}

.middle .right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.middle .right .partb .bottom {
  width: 100%;
  height: 40px;
}

@keyframes grey {
  from {
    color: #7d7c81;
  }
  to {
    color: #df5851;
  }
}

@keyframes reverse {
  from {
    color: #7d7c81;
  }
  to {
    color: #df5851;
  }
}

/* @media (min-height: 1100px) {
  .App .first {
    background-color: white;
  }
} */

.secondComp {
  width: 100%;
  background-color: black;
  padding: 100px 0;
}

.secondComp .contain {
  width: 92%;
  margin: auto;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  justify-content: center;
  padding-bottom: 20px;
}

.secondComp .contain .paraImg {
  display: flex;
  align-items: flex-start;
}

.secondComp .contain .paraImg p {
  margin-top: 30px;
  margin-left: 20px;
  font-family: "Metropolis";
  font-size: 45px;
  width: 912px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: white;
}

.secondComp .contain .divImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.indexArray {
  margin-top: 50px;
}

.secondLast {
  width: 100%;
  background-color: white;
  padding-bottom: 40px;
}

.secondLast .contain {
  padding: 180px 0;
  text-align: center;
  width: 65%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.secondLast .contain h1 {
  margin-bottom: 50px;
  font-family: "Metropolis";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: black;
}

.secondLast .contain .blackBtn {
  margin-top: 20px;
}

.footer {
  width: 100%;
  background-color: black;
}

.footer .contain {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .contain .left {
  width: 65%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.footer .contain .left p {
  width: 70%;
  font-family: "Metropolis";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.footer .contain .right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.footer .contain .right .circle {
  width: 50px !important;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 15px;
}

.footer .contain .right .circle img {
  width: 30px;
  height: 30px;
}

.footer .contain .right .circle.last {
  margin-right: 0;
}

.footer .contain .right .circle:hover {
  width: 55px !important;
  height: 55px;
  /* margin-right: 20px; */
}

.footer .contain .right .circle:hover img {
  width: 32.5px;
  height: 32.5px;
}

.spotify {
  width: 100%;
  background-color: black;
  padding: 100px 0;
}

.spotify .contain {
  padding: 60px 0 90px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.spotify .contain h1 {
  font-family: "Metropolis";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: white;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.spotForm {
  width: 80%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding-top: 60px;
}

.spotForm .left {
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.spotForm .right {
  width: 50%;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
}

.spotForm .right .box {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.spotForm .right .box.two {
  margin: 0;
}

.spotForm .right .box p {
  width: 120px;
  height: 33px;
  border: 2px solid white;
  border-radius: 5px;
  font-family: "Metropolis";
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 10px;
  padding-left: 15px;
  position: relative;
}

.spotForm .right .box p span {
  position: absolute;
  right: 10px;
}

.spotForm .left .drop {
  width: 50%;
  margin-bottom: 15px;
}

.spotForm .left .drop .select {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.spotForm .left .drop .select .span {
  font-family: "Metropolis";
  font-size: 12px;
  line-height: 12px;
  background-color: transparent;
  color: black;
  font-weight: 400;
  font-style: normal;
}

.spotForm .left .drop .select img {
  position: absolute;
  right: 10px;
  width: 18px;
}

.spotForm .left .drop .dropdownMenu {
  display: none;
}

.spotForm .left .flexed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.spotForm .left .flexed .textInput {
  width: 42%;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
}

.spotForm .left .flexed .textInput input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  font-family: "Metropolis";
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  color: black;
  font-weight: 400;
  font-style: normal;
}

.spotForm .left .flexed .textInput label {
  position: absolute;
  top: 8px;
  font-family: "Metropolis";
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  color: black;
  font-weight: 400;
  font-style: normal;
}

.spotForm .left .checker,
.spotForm .left .checker label {
  font-family: "Metropolis";
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  color: black;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 15px;
  cursor: pointer;
}

.spotForm .left .address {
  width: 95.2%;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 15px;
}

.spotForm .left .address input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  font-family: "Metropolis";
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  color: black;
  font-weight: 400;
  font-style: normal;
}

.spotForm .left .address label {
  position: absolute;
  top: 8px;
  font-family: "Metropolis";
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  color: black;
  font-weight: 400;
  font-style: normal;
}

.spotForm .left .flexed .drop {
  margin-bottom: 0;
}

.spotForm .left .three .textInput {
  width: 27%;
}

.spotForm .left .three .drop {
  width: 27%;
}

.spotForm .left .three .drop .select {
  width: 90%;
  margin-left: -8%;
}

.spotForm .left .three .date {
  width: 30%;
  /* padding: 4px 10px; */
}

.spotForm .left .three .date label {
  top: -8px;
  font-size: 9px;
  background-color: white;
  padding: 0 2px;
  left: 6px;
}

.plaid {
  width: 100%;
  background-color: white;
}

.plaid .contain {
  padding: 120px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.plaid .contain h1 {
  font-family: "Metropolis";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: black;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.plaid .contain .spotForm .left {
  border: 1px solid black;
  box-shadow: 0 0 4px rgb(204, 204, 204);
}

.plaid .contain .spotForm .right .box p {
  border: 2px solid black;
  color: black;
}

.plaid .contain .spotForm {
  padding-top: 0;
}

.here {
  width: 100%;
  display: block;
  position: relative;
}

.here .inner {
  width: 92%;
  margin: 0 auto;
}

.here .contain {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.here .contain .left {
  display: block;
  width: 31%;
  padding-bottom: 20px;
}

.here .contain .Bord {
  border: 2px solid #707070;
  opacity: 20%;
  border-radius: 5px;
  /* border-top-color: transparent; */
  height: 200px;
  width: 90%;
  margin-bottom: 30px;
}

.here .contain .left .Bord {
  margin-top: -20px;
  margin-bottom: 40px;
}

.here .contain .right {
  width: 31%;
  padding-top: 0px;
}

.here .contain .right .Bord {
  margin-bottom: -10px;
  margin-top: 30px;
}

.here .contain .mid {
  position: absolute;
  /* left: 48%; */
  /* top: 45%; */
  /* transform: translateX(-48%); */
  font-family: "Metropolis";
  font-size: 600;
  font-size: 45px;
  color: #111111;
  width: 100%;
  text-align: center;
  margin-top: -20px;
}

.here .contain .down {
  width: 100%;
  position: absolute;
  bottom: 12%;
  padding-left: 2px;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down p {
  font-family: "Metropolis";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  color: black;
  /* margin-top: 50px; */
  display: flex;
  align-items: center;
}

.down p span {
  width: 30px;
  height: 15px;
  margin-right: 10px;
}

.down p span img {
  width: 30px;
  height: 15px;
}

.digit {
  display: none;
  /* position: absolute;
  top: 0;
  z-index: 90; */
  padding-bottom: 80px;
  background-color: black;
}

.digit.active {
  animation: active 1s forwards;
}

.digit .contain {
  padding-top: 80px;
  display: block;
  height: max-content;
  width: 92%;
  margin: 0 auto;
}

.digit .contain.active {
  animation: inactive 1.3s forwards;
}

.digit .contain .shade {
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  background-color: white;
  margin-top: 30px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
}

/* .digit .contain .shade.active {
  animation: inactive 0.5s forwards;
} */

.digit .contain .shade .left {
  width: 60%;
  position: relative;
}

.digit .contain .shade .left h1 {
  font-family: "Metropolis";
  margin: 20px 0;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}

.digit .contain .shade .left p {
  font-family: "Metropolis";
  margin: 20px 0;
  width: 90%;
  margin-top: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.digit .contain .shade .down {
  position: absolute;
  bottom: 50px;
  left: 51px;
  justify-content: flex-start;
}

.digit .contain .shade.first {
  margin-top: 0;
}

.digit .contain .shade.first .right {
  position: relative;
}

.digit .contain .shade.first .right .absolute {
  position: absolute;
  top: -20px;
  left: -70px;
  width: 45%;
  height: 160px;
  object-fit: cover;
}

.digit .contain .shade.second .right {
  position: relative;
}

.digit .contain .shade.second {
  padding-top: 60px;
  padding-bottom: 80px;
}

.digit .contain .shade.second .right .absolute1 {
  position: relative;
  top: -20px;
  left: -60px;
}

.digit .contain .shade.second .right .absolute {
  position: absolute;
  bottom: -40px;
  right: -20px;
  width: 45%;
  height: 160px;
  object-fit: cover;
}

.digit .contain .right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digit .contain .right img {
  width: 100%;
  border-radius: 5px;
  /* height: 250px; */
}

@keyframes active {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}
@keyframes inactive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* for ipadpro */
@media (max-width: 1100px) {
  .first .contain .middle {
    height: 100vh;
  }
  .first .contain .middle .left {
    display: none;
  }
  .first .contain .middle .right {
    flex-flow: column;
    justify-content: center;
  }
  .first .contain .middle .right .parta {
    opacity: 1 !important;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first .contain .middle .right .parta .set {
    position: relative;
    width: fit-content;
    bottom: auto;
    left: auto;
    align-items: center;
  }
  .first .contain .middle .right .parta .set p {
    text-align: center;
  }
  .first .contain .middle .right .parta .set .bottomScroll {
    display: none;
  }
  .first .contain .middle .right .partb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first .contain .middle .right .partb img.secondGif,
  img.firstGif,
  img.lastGif {
    position: relative !important;
    width: 100%;
    margin: 0 !important;
  }
  .first .contain .middle .right .partb img.secondGif {
    margin-top: 30px !important;
    width: 650px;
  }
  /* .first .contain .middle .right .partb img.lastGif{
    width: 100%;
  } */
}

/* for ipad */
@media (max-width: 900px) {
  .secondLast .contain {
    width: 75%;
    padding: 150px 0;
  }
  .secondLast .contain h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .secondComp .contain .paraImg {
    width: 100%;
  }
  .secondComp .contain .paraImg p {
    font-size: 30px;
    width: 90%;
  }
  .secondComp .contain .divImg img {
    width: 90%;
  }
  .digit .contain .shade {
    flex-flow: column;
    padding: 35px;
    width: 88%;
  }
  .digit .contain .shade .down {
    display: none;
  }
  .digit .contain .shade .left,
  .digit .contain .shade .right {
    width: 100%;
  }
  .digit .contain .shade .left p {
    width: 100%;
  }
  .digit .contain .shade.first .right img {
    width: 85%;
    position: relative;
    left: 60px;
    top: 40px;
    padding-bottom: 40px;
  }
  .digit .contain .shade.first .right .absolute {
    /* width: 80%; */
    left: 0px;
    height: 220px;
    width: 30%;
  }
  .digit .contain .shade.second {
    padding-top: 40px;
  }
  .digit .contain .shade.second .right .absolute1 {
    width: 80%;
  }
  .digit .contain .shade.second .right .absolute {
    right: 0;
    width: 38%;
  }
  .spotify .contain h1 {
    width: 70%;
    font-size: 30px;
  }
  .spotify .contain .spotForm,
  .plaid .contain .spotForm {
    width: 100%;
    flex-flow: column;
  }
  .spotify .contain .spotForm .right,
  .plaid .contain .spotForm .right {
    width: 100%;
    order: 1;
  }
  .spotify .contain .spotForm .left,
  .plaid .contain .spotForm .left {
    width: 95%;
    order: 2;
    margin-top: 50px;
  }
  /* .spotify .contain .spotForm .right .box, .plaid .contain .spotForm .right .box{
    width: 90%;
    margin: 0;
    flex-flow: column;
  }
  .spotify .contain .spotForm .right .box p, .plaid .contain .spotForm .right .box p{
    margin: 30px 0;
    margin-bottom: 0;
  } */
}

/* for mobile devices */
@media (max-width: 600px) {
  .secondLast .contain{
    width: 92%;
  }
  .secondLast .contain h1{
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer .contain{
    flex-flow: column;
  }
  .footer .contain .left {
    width: 100%;
    margin-bottom: 35px;
  }
  .footer .contain .left p{
    text-align: center;
  }
  .footer .contain .right {
    width: 50%;
    justify-content: space-between;
  }
  .digit .contain{
    padding-top: 30px;
  }
  .spotify .contain .spotForm,
  .plaid .contain .spotForm {
    align-items: center;
  }
  .spotify .contain .spotForm .left,
  .plaid .contain .spotForm .left {
    width: 90%;
    flex-flow: column;
  }
  .spotify .contain h1 {
    width: 80%;
    font-size: 20px;
    margin-bottom: 0;
  }
  .secondComp .contain .paraImg img{
    display: none;
  }
  .secondComp .contain .paraImg p {
    font-size: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .digit .contain .shade {
    flex-flow: column;
    padding: 25px;
    width: 88%;
  }
  .digit .contain .shade.first .right img {
    width: 80%;
    position: relative;
    left: 40px;
    top: 40px;
    padding-bottom: 40px;
  }
  .digit .contain .shade.first .right .absolute {
    /* width: 80%; */
    left: 0px;
    height: 170px;
    width: 40%;
  }
  .digit .contain .shade.second {
    padding-top: 40px;
  }
  .digit .contain .shade.second .right .absolute1 {
    width: 82%;
    left: -40px;
  }
  .digit .contain .shade.second .right .absolute {
    right: 0;
    width: 38%;
    bottom: -50px;
  }
  .first .contain .middle .right .partb img.secondGif,
  img.firstGif,
  img.lastGif {
    width: 100% !important;
  }
  .here .contain .mid{
    font-size: 24px;
  }
  .spotify .contain .spotForm .right .box, .plaid .contain .spotForm .right .box{
    width: 90%;
    /* margin: 0;
    flex-flow: column; */
  }
  .first .contain .middle .right .parta .set{
    width: 100%;
  }
  .first .contain .middle .right .parta .set p{
    font-size: 30px;
    width: 100%;
  }
}

/* for mobile devices */
@media (max-width: 400px) {
  .secondLast .contain{
    width: 92%;
  }
  .secondLast .contain h1{
    font-size: 18px;
    margin-bottom: 30px;
  }
  .spotify .contain h1 {
    width: 100%;
    font-size: 18px;
  }
  .secondComp .contain .paraImg p {
    font-size: 18px;
  }
  .digit .contain .shade {
    padding: 15px;
    width: 90%;
  }
  .digit .contain .shade.first .right img {
    left: 30px;
  }
  .digit .contain .shade.first .right .absolute {
    /* width: 80%; */
    left: 0px;
    height: 120px;
    width: 40%;
  }
  .digit .contain .shade.second {
    padding-top: 40px;
  }
  .digit .contain .shade.second .right .absolute1 {
    left: -25px;
  }
  .digit .contain .shade.second .right .absolute {
    width: 45%;
    height: 120px;
  }
  .here .contain .mid{
    font-size: 24px;
  }
  .spotify .contain .spotForm .right .box, .plaid .contain .spotForm .right .box{
    width: 100%;
  }
  .first .contain .middle .right .parta .set{
    width: 100%;
  }
  .first .contain .middle .right .parta .set p{
    font-size: 30px;
    width: 100%;
  }
}

/* for more then 1510px screen */
@media (min-width: 1510px) {
  .contain {
    width: 1209px !important;
  }
}
